header {
  z-index: 3;
  height: 8.64vh;
}

.vicio {
  width: 12.64vh;
  height: 3.02vh;
  margin-top: 2.81vh;
  margin-bottom: 2.81vh;
}

.bar-left {
  gap: 2.16vh;
}

.top-item-text {
  max-width: 20.16vh;
  font-size: 1.4vh;
  line-height: 1.72vh;
}

.top-fire {
  width: 1.51vh;
  height: 1.94vh;
}

.div-block-42 {
  width: 4.21vh;
  height: 0.15vh;
  margin-bottom: 0.86vh;
}
