.collection-link-wrapper {
  width: 70.96vh;
  height: 10.96vh;
  padding-left: 12px;
  display: flex;
  overflow: hidden;
}

.collection-scroll-wrapper {
  width: 141.92vh;
  transform: translateY(-100%);
  transition: transform 0.4s ease-out;
}

.collection-text {
  width: 100%;
  height: 100%;
  width: 70.96vh;
  /* height: 10.96vh; */
  background-image: url(../assets/collection.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}
