@tailwind base;
/* @tailwind components; */
@tailwind utilities;

.bg-arrow {
  @apply bg-contain bg-[url('assets/arrow.svg')];
}

.bg-star {
  @apply bg-contain bg-[url('assets/icon-star.svg')] bg-center absolute;
}

.text-block {
  @apply text-[1.4vh] uppercase font-HelveticaNeueCondensed font-bold leading-[1.51vh];
}

.row {
  @apply flex gap-[2.16vh];
}

.column {
  @apply flex flex-col gap-[2.16vh];
}

@font-face {
  font-family: "Recoleta";
  src: url(assets/font/Recoleta-Regular.woff2) format("woff2"),
    url(assets/font/Recoleta-Regular.woff) format("woff"),
    url(assets/font/Recoleta-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url(assets/font/Recoleta-Bold.woff2) format("woff2"),
    url(assets/font/Recoleta-Bold.woff) format("woff"),
    url(assets/font/Recoleta-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url(assets/font/HelveticaNeue-CondensedBold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  background-repeat: no-repeat;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100%;
  color: black;
  background-color: #ededed;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
